
# StorageClass
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: backend-local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

---
# Persistent Volume

apiVersion: v1
kind: PersistentVolume
metadata:
  name: backend-pv
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  storageClassName: backend-local-storage
  hostPath:
    path: /data/backend
    type: DirectoryOrCreate

---
# Persistent Volume Claim

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-pvc
spec:
  storageClassName: backend-local-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
# Backend Deployment

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 10.131.103.92:8090/kp2/backend:__IMAGE_TAG__
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: "database"
            - name: DB_NAME
              value: "usersdb"
            - name: DB_USER
              value: "admin"
            - name: DB_PASSWORD
              value: "admin"
          volumeMounts:
            - name: backend-storage
              mountPath: /app/data

      volumes:
        - name: backend-storage
          persistentVolumeClaim:
            claimName: backend-pvc

---
# Backend Service

apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
